*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2% 5%;
  background-color:rgb(3, 0, 0);
  color: white;
  border-bottom: 4%;
}
.uppercase{
  text-transform: uppercase;
}
.cont{
  background-image: url('../public/erik-mclean-ZRns2R5azu0-unsplash.jpg');
  width: 100%;
  height: 80%;
  background-position: center;
  color: white;
  background-size: cover;
  padding: 4%;
}
.b-text{
  color: white !important;
}
.tabs{
  color: white !important;
}
.card{
  background-color: white;
  padding: 4%;
  border-radius: 10px;
}
button{
  background-color: rgb(46, 46, 221) !important;
  color: white !important;
}
select{
  width: 100%;
  height: 32px;
  border: 0.5px solid #ccc;
  border-radius: 3%;
}
select:focus{
  outline: none;
}
.listing-p{
  padding: 3%;
}
a{
  text-decoration: none;
  color: gray;
}
.px-o{
  font-size: 18px;
  color: gray;
  padding: 1.5%;
}
.image{
  width: 100%;
}
.product-image{
  width: 100%;
  border-radius: 5%;
}
.pro-c{
  margin-top: 2%;
  border-radius: 5%;
  padding: 2.5px;
  border: 1px solid #ccc;
}
.c-name{
  font-size: 21px;
  margin-bottom: 2%;
}
.c-d{
  color: rgb(39, 38, 38);
}.black{
  background-color: black !important;
}
.title{
  padding: 3%;
}
.feat{
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.amount{
  color: rgb(10, 104, 10);
}
.de{
  color: rgb(46, 46, 221);
}
.lookout{
  padding:5% ;
}
.buy{
  background-color: rgb(196, 232, 255);
  padding: 5%;
  border-radius: 3%;
}
.lookout-h2{
  margin-bottom: 5%;
}
.l-p{
  margin-bottom: 6%;
}
.sell{
  margin-top: 4%;
  background-color: rgb(247, 144, 174);
  padding: 5%;
  border-radius: 3%;
}
.s-button{
  background-color: black !important;
}
.matters{
  padding: 5%;
}
.m-g{
  margin-top: 5%;
}
.james{
  margin-bottom: 2%;
}
.john{
  color: rgb(39, 38, 38);
}
.popular{
  width: 100%;
  padding: 5%;
  background-color: #1d0e47;
}
.customers{
  padding: 5%;
}
.p-3x{
    font-size: 27px;
    margin-bottom: 3%;
}
.reviews{
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 4%;
}
.vvb{
  color: gray;
  margin-bottom: 3%;
}.review{
  margin-top: 3%;
}
.brands{
  padding: 5%;
}
.mark{
  margin-bottom: 3%;
}
.flex-brand{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.j{
  padding: 7%;

}.hef{
  margin-bottom: 7%;
}
.carb{
  text-align: center;
}.end{
  margin-top: 3%;
  border-top: 1px solid #ccc;
  padding: 2%;
}.endlin{
  margin-bottom: 2%;
  margin-right: 2%;
}.header-l{
  visibility: hidden;
  display: flex;
  justify-content: space-between;
}.header-span{
  padding-right: 9px;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  align-items: center;
}.xxcv{

  padding: 3%;
  background-color: #1e192c;
  color: white;
}.flinks2{
  margin-right: 30%;
}
.h2x, .span2x{
  margin-bottom: 2% !important;
}
.inpx{
  margin-top: 3% !important;
  padding: 2% !important;
  background: transparent !important;
  color: white !important;
  width: 100% !important;

}.fh3{
  margin-bottom: 1%;
}
.fp3{
  margin-bottom: 3%;
}.inputxc{
  width: 100%;
  background-color: transparent;
  padding: 3%;
  color: white;
  border-radius: 3%;
}.finp{
  background-color: transparent;
  border: none;
  height: 100%;
  color: #fff;
  width: 80%;
}.finp:focus{
  outline: none;
}
.fbx{
  padding: 5px;
  border: none;
  width: 20%;
}
@media(min-width:800px){
  .b-text{
    width: 500px;

  }.products{
    display: flex;
    align-items: center;
  }.lookout{
    display: flex;
    justify-content: space-between;
    margin: 4%;
  }.flex-brand{
    display: flex;
    flex-direction: row;
  }.buy{
    margin-right: 3%;
  }.sell{

  background-color: rgb(247, 144, 174);
  padding: 5%;
  border-radius: 3%;
  margin-top: 0;
  }.footer{
    justify-content: space-between;
  }.flinks1, .flinkskk{
    margin-right: 24%;
  }
  .matters{
    display: flex;
    align-items: center;
  }.gif-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }.xxcv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }.header-m{
    display: none;
  }.header-l{
    display: block;
    justify-content: space-between;
  }
}